<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mdm">


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d982a4f1e3f5bf7586e47ab7b9b2a310f412b431"
            />

        <activity
            android:name=".NewAlarmFormActivity"
            android:label="@string/add_alarm"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mdm.MainActivity" />

            <intent-filter>
                <action android:name=".NewRideActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewEntryFormActivity"
            android:label="@string/add_alarm"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mdm.MainActivity" />

            <intent-filter>
                <action android:name=".NewRideActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainIntoActivity"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>